{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Beans List</h1>
    <div class="d-flex justify-content-between align-items-center mb-4">
      <input type="text" class="form-control d-inline-block" id="searchInput" placeholder="Search beans..."
        style="width: 200px;" onkeyup="searchBeans()">
    </div>
  </div>


  <div class="row" id="bean-cards-container">
    {% for bean in beans %}
    {% include 'components/bean_card.html' %}
    {% endfor %}
  </div>

  <div id="no-results" style="display: none;" class="text-center mt-5">
    <p class="lead">No beans found.</p>
  </div>


</div>

{% include 'components/bean_modal.html' %}

<script id="beans-data" type="application/json">
  {{ beans | tojson }}
</script>


<script>
  var beanFormModal = new bootstrap.Modal(
    document.getElementById("beanFormModal")
  )

  function openBeanFormModal(beanId) {
    const beans = JSON.parse(document.getElementById("beans-data").textContent)
    const bean = beans.find(bean => bean.id === beanId)
    document.getElementById("beanId").value = bean.id
    document.getElementById("name").value = bean.name
    document.getElementById("origin").value = bean.origin
    document.getElementById("region").value = bean.region
    document.getElementById("varietal").value = bean.varietal
    document.getElementById("processing_method").value = bean.processing_method
    document.getElementById("altitude").value = bean.altitude
    document.getElementById("taste_notes").value = bean.taste_notes
    document.getElementById("aroma").value = bean.aroma
    document.getElementById("acidity").value = bean.acidity
    document.getElementById("brew_methods").value = bean.brew_methods
    document.getElementById("cupping_score").value = bean.cupping_score
    document.getElementById("certifications").value = bean.certifications
    document.getElementById("beanFormModalLabel").textContent = "Edit Bean"
    beanFormModal.show()
  }

  // function updateBeanCard(beanId) {
  //   fetch(`/bean_card/${beanId}`)
  //     .then(response => response.text())
  //     .then(html => {
  //       const parser = new DOMParser()
  //       const doc = parser.parseFromString(html, "text/html")
  //       const newBeanCard = doc.body.firstElementChild

  //       const oldBeanCard = document.getElementById(`bean-${beanId}`)
  //       if (oldBeanCard && newBeanCard) {
  //         oldBeanCard.replaceWith(newBeanCard)
  //       }
  //     })
  // }

  document.getElementById("beanForm").addEventListener("submit", function (event) {
    event.preventDefault();
    const beanId = document.getElementById("beanId").value;
    const url = `/edit_bean/${beanId}`;

    fetch(url, {
      method: "PUT",
      body: new FormData(this),
    })
      .then(response => response.json())
      .then(data => {
        // updateBeanCard(beanId);
        beanFormModal.hide();
      });
  });
</script>

<script>
  function searchBeans() {
    const input = document.getElementById("searchInput").value.toLowerCase()
    const beanCards = document.querySelectorAll("#bean-cards-container .col-md-6")
    let anyVisible = false


    beanCards.forEach(card => {
      const beanName = card.querySelector(".card-title").textContent.toLowerCase()
      console.log(beanName, input)
      if (beanName.includes(input)) {
        card.style.display = ""
        anyVisible = true
      } else {
        card.style.display = "none"
      }
    })

    document.getElementById("no-results").style.display = anyVisible
      ? "none"
      : "block"
  }



</script>
{% endblock %}