body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

body,
html {
  margin: 0;
  padding: 0;
}

header {
  z-index: 100;
  color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.container {
  padding: 20px;
}

h1,
h2,
h3 {
  color: #4b3832;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

th {
  text-align: left;
  width: 13rem;
}

.footer {
  background-color: #50412e;
  color: #f5f5f5;
  text-align: center;
  padding: 10px;
}

@media (max-width: 600px) {
  header,
  .container,
  .footer {
    padding: 10px;
  }

  table,
  th,
  td {
    font-size: 14px;
  }
}

.cover-container {
  max-width: 42em;
}
