<div id="bean-details">
  <h1 class="mb-4">{{ bean.name }}</h1>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Bean ID</th>
        <td>{{ bean.id }}</td>
      </tr>
      <tr>
        <th scope="row">Origin</th>
        <td>{{ bean.origin }}</td>
      </tr>
      <tr>
        <th scope="row">Region</th>
        <td>{{ bean.region }}</td>
      </tr>
      <tr>
        <th scope="row">Varietal</th>
        <td>{{ bean.varietal }}</td>
      </tr>
      <tr>
        <th scope="row">Processing Method</th>
        <td>{{ bean.processing_method }}</td>
      </tr>
      <tr>
        <th scope="row">Altitude</th>
        <td>{{ bean.altitude }}</td>
      </tr>
      <tr>
        <th scope="row">Taste Notes</th>
        <td>{{ bean.taste_notes }}</td>
      </tr>
      <tr>
        <th scope="row">Aroma</th>
        <td>{{ bean.aroma }}</td>
      </tr>
      <tr>
        <th scope="row">Acidity</th>
        <td>{{ bean.acidity }}</td>
      </tr>
      <tr>
        <th scope="row">Brew Methods</th>
        <td>{{ bean.brew_methods }}</td>
      </tr>
      <tr>
        <th scope="row">Cupping Score</th>
        <td>{{ bean.cupping_score }}</td>
      </tr>
      <tr>
        <th scope="row">Certifications</th>
        <td>{{ bean.certifications }}</td>
      </tr>
    </tbody>
  </table>
</div>