<div class="col-md-6 col-lg-4 mb-4 d-flex align-items-stretch" id="roast-{{ roast.uid }}">
  <div class="card h-100 w-100 shadow-sm border-0">
    <div class="card-body d-flex flex-column" data-roast-id="{{ roast.uid }}" data-bean-id="{{ roast.beanId }}">
      <h5 class="card-title text-primary">{{ roast.roastName }}</h5>

      {% if bean %}
      <p class="card-text"><a href="{{ url_for('beans_list') }}">{{ bean.name }}</a></p>
      {% endif %}

      <p class="card-text text-muted mb-1"><i class="bi bi-calendar-event"></i> {{ roast.dateTime | datetime }}</p>
      <p class="card-text mb-1"><strong>Total Roast Time:</strong> {{ roast.roast_length }} minutes</p>
      <p class="card-text mb-1"><strong>Weight Green:</strong> {{ roast.weight_green }} oz</p>
      <p class="card-text mb-1"><strong>Weight Roasted:</strong> {{ roast.weight_roasted }} oz</p>
      <p class="card-text mb-3"><strong>Preheat Temperature:</strong> {{ roast.preheatTemperature }} °C</p>

      {% if bean %}

      {% if not roast.is_processed %}
      <button class="btn btn-warning mt-auto" onclick="processRoast(this, '{{ roast.uid }}')">Process Roast</button>

      {% else %}
      <div class="btn-group mt-auto" role="group" aria-label="Basic example">
        <a href="{{ roast.profile_link }}" class="btn btn-success flex-grow-1">View Profile</a>
        <button class="btn btn-secondary flex-grow-0" onclick="processRoast(this, '{{ roast.uid }}')">
          <i class="bi bi-arrow-clockwise"></i>
        </button>
      </div>
      <p class="card-text text-muted mt-2"><small>Last Processed: {{ roast.last_processed | datetime }}</small></p>
      {% endif %}

      {% else %}
      {% if roast.beanId %}
      <button class="btn btn-primary mt-auto" onclick="openRegisterBeanModal('{{ roast.beanId }}')">Register
        Bean</button>
      {% endif%}

      {% endif %}
    </div>
  </div>
</div>